/* Mixins */
/*
 * Transition
 @include transition(all .2s ease);
 */
/*
@include animation(10s, 5s, changecolour)
*/
/*
   * Hardware accelerate
   @include hwaccelerate();
   */
/*
   * Box sizing
   @include box-sizing(border-box);
   */
/*
   * Generic transform
   @include transform(translate(1px, 1px));
   */
/*
   * Generic Translate
   @include translate(1px, 1px);
   */
/*
   * Generic transform
   @include transform-origin(top left);
   */
/*
   * Opacity
   @include opacity(0.8);
   */
/*
   * Scale
   @include scale(0.8);
   */
/*
   * Rotate
   @include rotate(180);
   */
/*
   * text-shadow
   @include text-shadow(1px, 1px, 1px, #000000);
   */
/*
   * transform-origin
   @include transform-origin(center center);
   */
/*
   * border-radius
   @include border-radius(0.5em);
   */
/*
   * vertical-align
   @include vertical-align();
   */
/*
   * Fill element with background image
   @include bgfill();
   */
/*
   * Box Shadow
   @include box-shadow(1px, 1px, 1px, #e1e1e1, false);
   */
/*
  * Vertical Align
  * @include vertical-align();
  */
/*
  * Fill parent
  * @include fill-parent();
  */
/*
   * GSAP-compatible hide
   @include hide();
   */
/*
   * Clearfix
  .container-with-floated-children {
    @extend %clearfix;
  }
   */
@font-face {
  font-family: 'glacial_indifferencebold';
  src: url("../fonts/glacialindifference-bold-webfont.woff2") format("woff2"), url("../fonts/glacialindifference-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* ANIMATIONS */
/* /////////////////////// */
/* /////////////////////// */
/* /////////////////////// */
@keyframes megaNavIn {
  0% {
    top: -100%; }
  100% {
    top: 0%; } }

@keyframes megaNavOut {
  0% {
    top: 0%; }
  100% {
    top: -100%; } }

@keyframes anchorIn {
  0% {
    top: 60px; }
  100% {
    top: 0px; } }

@keyframes anchorOut {
  0% {
    top: 0px; }
  100% {
    top: 60px; } }

/* MEDIA QUERIES */
/* /////////////////////// */
/* /////////////////////// */
/* /////////////////////// */
@media only screen and (max-width: 830px) {
  #carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption h1 {
    font-size: 2.3rem; }
  #carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption h2 {
    font-size: 1.1rem; }
  .carousel-indicators li {
    display: none; } }

@media only screen and (max-width: 530px) {
  #carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption {
    bottom: 150px; }
    #carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption h1 {
      font-size: 1.9rem; }
    #carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption h2 {
      display: none;
      font-size: 1.7rem; } }

@media only screen and (max-width: 321px) {
  body #carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption {
    bottom: 110px; }
    body #carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption h1 {
      font-size: 1.6rem; }
  body .navbar {
    padding: 1rem 1rem 1rem 1rem; }
    body .navbar .navbar-brand {
      width: 134px;
      height: 53px; } }

body {
  font-family: glacial_indifferencebold;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: .9rem;
  background: #5F5F5F; }

/* MEDIA QUERIES END */
/* /////////////////////// */
/* /////////////////////// */
/* /////////////////////// */
/* CAROUSEL */
#carouselExampleIndicators .carousel-inner {
  height: 100vh; }
  #carouselExampleIndicators .carousel-inner .carousel-item {
    height: 100vh; }
    #carouselExampleIndicators .carousel-inner .carousel-item img {
      height: 100vh; }
    #carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption {
      text-align: left;
      left: 12%;
      bottom: 160px;
      width: 65%; }
      #carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption h1 {
        font-size: 2.5rem;
        margin-bottom: 20px; }
      #carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption h2 {
        font-size: 1.2rem;
        line-height: 2rem; }

#carouselExampleIndicators .carousel-indicators-slider-wrapper {
  position: absolute;
  left: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  height: 3px;
  width: 75%;
  left: 12%;
  top: 80%;
  pointer-events: none; }
  #carouselExampleIndicators .carousel-indicators-slider-wrapper .carousel-indicators-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: .3; }
  #carouselExampleIndicators .carousel-indicators-slider-wrapper .carousel-indicators-slider {
    position: absolute;
    width: 16.9%;
    height: 100%;
    background-color: #FFFF98;
    left: 0%;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }

.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: .6s;
  transition-property: opacity;
  position: absolute;
  top: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .carousel-fade .carousel-item img {
    width: 100vw; }

.carousel {
  height: 100vh;
  overflow: hidden; }

.test {
  height: 100vh; }

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1; }

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  opacity: 0; }

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0); }

.carousel-indicators {
  width: 75%;
  height: 30px;
  margin: 0;
  left: 12%;
  top: 80%;
  text-align: left;
  z-index: 1; }
  .carousel-indicators li {
    background: none;
    width: 16.6%;
    height: 100%;
    text-indent: 0;
    color: white;
    font-size: .9rem;
    margin: 0;
    padding-top: 3px;
    cursor: pointer;
    border: none; }
  .carousel-indicators .active {
    background: none; }

.carousel-control-prev {
  visibility: hidden;
  opacity: 0; }

.carousel-control-next {
  visibility: hidden;
  opacity: 0; }

/* MEGA NAV */
/* /////////////////////// */
/* /////////////////////// */
/* /////////////////////// */
.mega-nav-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  z-index: 2;
  pointer-events: none; }
  .mega-nav-container.animIn #mega-nav-wrap {
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: megaNavIn;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -moz-animation-delay: 0s;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: megaNavIn;
    -moz-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -o-animation-delay: 0s;
    -o-animation-duration: 0.5s;
    -o-animation-name: megaNavIn;
    -o-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-name: megaNavIn;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */ }
  .mega-nav-container.animOut #mega-nav-wrap {
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: megaNavOut;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -moz-animation-delay: 0s;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: megaNavOut;
    -moz-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -o-animation-delay: 0s;
    -o-animation-duration: 0.5s;
    -o-animation-name: megaNavOut;
    -o-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-name: megaNavOut;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */ }
  .mega-nav-container #mega-nav-wrap {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: -100%;
    padding: 180px 0 0 0; }
    @media only screen and (max-width: 991px) {
      .mega-nav-container #mega-nav-wrap {
        display: none; } }
    .mega-nav-container #mega-nav-wrap .mega-nav-bg {
      background-color: #5F5F5F;
      opacity: .9;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0; }
    .mega-nav-container #mega-nav-wrap .container .row .col .filter-list {
      margin: 0 0 40px 0; }
      .mega-nav-container #mega-nav-wrap .container .row .col .filter-list li a {
        font-size: .9rem; }
    .mega-nav-container #mega-nav-wrap ul li {
      list-style-type: none;
      margin: 0 0 10px 0; }
      .mega-nav-container #mega-nav-wrap ul li .anchor-mask {
        overflow: hidden; }
        .mega-nav-container #mega-nav-wrap ul li .anchor-mask.anchor-in .mega-nav-a {
          -webkit-animation-delay: 0s;
          -webkit-animation-duration: 0.5s;
          -webkit-animation-name: anchorIn;
          -webkit-animation-fill-mode: forwards;
          /* this prevents the animation from restarting! */
          -moz-animation-delay: 0s;
          -moz-animation-duration: 0.5s;
          -moz-animation-name: anchorIn;
          -moz-animation-fill-mode: forwards;
          /* this prevents the animation from restarting! */
          -o-animation-delay: 0s;
          -o-animation-duration: 0.5s;
          -o-animation-name: anchorIn;
          -o-animation-fill-mode: forwards;
          /* this prevents the animation from restarting! */
          animation-delay: 0s;
          animation-duration: 0.5s;
          animation-name: anchorIn;
          animation-fill-mode: forwards;
          /* this prevents the animation from restarting! */ }
        .mega-nav-container #mega-nav-wrap ul li .anchor-mask.anchor-out .mega-nav-a {
          -webkit-animation-delay: 0s;
          -webkit-animation-duration: 0.5s;
          -webkit-animation-name: anchorOut;
          -webkit-animation-fill-mode: forwards;
          /* this prevents the animation from restarting! */
          -moz-animation-delay: 0s;
          -moz-animation-duration: 0.5s;
          -moz-animation-name: anchorOut;
          -moz-animation-fill-mode: forwards;
          /* this prevents the animation from restarting! */
          -o-animation-delay: 0s;
          -o-animation-duration: 0.5s;
          -o-animation-name: anchorOut;
          -o-animation-fill-mode: forwards;
          /* this prevents the animation from restarting! */
          animation-delay: 0s;
          animation-duration: 0.5s;
          animation-name: anchorOut;
          animation-fill-mode: forwards;
          /* this prevents the animation from restarting! */ }
        .mega-nav-container #mega-nav-wrap ul li .anchor-mask .mega-nav-a {
          display: inline-block;
          text-decoration: none;
          color: #fff;
          font-size: 1.6rem;
          position: relative;
          top: 60px; }
          .mega-nav-container #mega-nav-wrap ul li .anchor-mask .mega-nav-a:hover {
            color: #FFFF98; }
        .mega-nav-container #mega-nav-wrap ul li .anchor-mask .a-disabled:hover {
          color: #fff; }
      .mega-nav-container #mega-nav-wrap ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 1.6rem; }
        .mega-nav-container #mega-nav-wrap ul li a:hover {
          color: #FFFF98; }

/* NAV BAR */
/* /////////////////////// */
/* /////////////////////// */
/* /////////////////////// */
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1.5rem 3rem 1.5rem 1.5rem;
  z-index: 3; }
  .navbar .navbar-brand {
    background-image: url("../img/logo@2x.png");
    background-position: 0 0;
    background-size: cover;
    width: 180px;
    height: 70px; }
  .navbar .navbar-toggler {
    border: none;
    background: none; }
    .navbar .navbar-toggler .navbar-toggler-icon {
      background-image: url("../img/burger.svg"); }
  .navbar .nav-item {
    color: #fff; }
  .navbar .navbar-collapse .form-inline {
    display: none; }
  .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #fff; }
    .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
      color: #FFFF98; }
    .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.active {
      color: #FFFF98; }
  .navbar .navbar-collapse .navbar-nav .nav-item-spacer {
    width: 15vw; }

.bg-light {
  background: none !important; }
