@import "mixins";

$brand-yellow: #FFFF98;
$brand-grey: #5F5F5F;

@font-face {
    font-family: 'glacial_indifferencebold';
    src: url('../fonts/glacialindifference-bold-webfont.woff2') format('woff2'),
         url('../fonts/glacialindifference-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ANIMATIONS */
/* /////////////////////// */
/* /////////////////////// */
/* /////////////////////// */
@keyframes megaNavIn {
	0% { top : -100%; }
	100% { top : 0%; }
}
  
@keyframes megaNavOut {
	0% { top : 0%; }
	100% { top : -100%; }
}

@keyframes anchorIn {
	0% { top : 60px; }
	100% { top : 0px; }
}
  
@keyframes anchorOut {
	0% { top : 0px; }
	100% { top : 60px; }
}


/* START */
/* /////////////////////// */
/* /////////////////////// */
/* /////////////////////// */
body {
	font-family: glacial_indifferencebold;
	-webkit-font-smoothing: subpixel-antialiased;
	font-size: .9rem;
	background: $brand-grey;
}

/* CAROUSEL */
#carouselExampleIndicators {
	.carousel-inner {
		height: 100vh;

		.carousel-item {
			height: 100vh;

			img {
				height: 100vh;
			}

			.carousel-caption {
				text-align: left;
				left: 12%;
				bottom: 220px;
				width: 65%;

				@media only screen and (max-width: 415px) {
					bottom: 140px;
				}

				@media only screen and (max-width: 321px) {
					bottom: 110px;
				}

				h1 {
					font-size: 2.5rem;
					margin-bottom: 20px;

					@media only screen and (max-width: 830px) {
						font-size: 2.2rem;
					}

					@media only screen and (max-width: 530px) {
						font-size: 1.9rem;
					}

					@media only screen and (max-width: 321px) {
						font-size: 1.6rem;
					}
				}

				h2 {
					font-size: 1.2rem;
					line-height: 2rem;

					@media only screen and (max-width: 830px) {
						font-size: 1.1rem;
					}

					@media only screen and (max-width: 530px) {
						display: none;
					}
				}
			}
		}
	}

	.carousel-indicators-slider-wrapper {
		position: absolute;
		left: 0;
		z-index: 1;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		padding-left: 0;
		list-style: none;
		height: 3px;
		width: 75%;
		left: 12%;
		top: 80%;
		pointer-events: none;
	
		.carousel-indicators-bg {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: #fff;
			opacity: .3;
		}
	
		.carousel-indicators-slider {
			position:absolute;
			width: 16.9%;
			height: 100%;
			background-color: $brand-yellow;
			left: 0%;
			@include transition(all .2s ease);
		}
	}
}

.carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: .6s;
	transition-property: opacity;
	position: absolute;
	top: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	img {
		width: 100vw;
	}
}

.carousel {
	height:100vh;
	overflow: hidden;
}
  
.test {
	height:100vh;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
	opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
	opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
	transform: translateX(0);
	transform: translate3d(0, 0, 0);
}

.carousel-indicators {
	width: 75%;
	height: 30px;
	margin: 0;
	left: 12%;
	top: 80%;
	text-align: left;
	z-index: 1;

	@media only screen and (max-width: 415px) {
		top: 82%;
	}

	li {
		background: none;
		width: 16.6%;
		height: 100%;
		text-indent: 0;
		color: white;
		font-size: .9rem;
		margin: 0;
		padding-top: 3px;
		cursor: pointer;
		border: none;
		@include transition(all .2s linear);

		@media only screen and (max-width: 830px) {
			opacity: 0;
			width: 100%;

			position: absolute;
			left: 0;

			&.active {
				opacity: 1;
			}
		}
	}

	.active {
		background: none;
	}
}

.carousel-control-prev {
	visibility: hidden;
	opacity: 0;
}

.carousel-control-next {
	visibility: hidden;
	opacity: 0;
}
/* MEGA NAV */
/* /////////////////////// */
/* /////////////////////// */
/* /////////////////////// */
.mega-nav-container {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0%;
	z-index: 2;
	pointer-events: none;	

	&.animIn #mega-nav-wrap {
		@include animation(0s, .5s, megaNavIn);
	}

	&.animOut #mega-nav-wrap {
		@include animation(0s, .5s, megaNavOut);
	}

	#mega-nav-wrap {
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: -100%;
		padding: 180px 0 0 0;
	
		@media only screen and (max-width: 991px) {
			display: none;
		}
	
		.mega-nav-bg {
			background-color: $brand-grey;
			opacity: .9;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
		}
	
		.container {
			.row {
				.col {
					.filter-list {
						margin: 0 0 40px 0;
						li {
							a {
								font-size: .9rem;
							}
						}
					}
				}
			}
		}
	
		ul {
			li {
				list-style-type: none;
				margin: 0 0 10px 0;
	
				.anchor-mask {
					overflow: hidden;

					&.anchor-in .mega-nav-a {
						@include animation(0s, .5s, anchorIn);
					}

					&.anchor-out .mega-nav-a {
						@include animation(0s, .5s, anchorOut);
					}
				
					.mega-nav-a {
						display: inline-block;
						text-decoration: none;
						color: #fff;
						font-size: 1.6rem;
						position: relative;
						top: 60px;
	
						&:hover {
							color: $brand-yellow;
						}

						&.active {
							color: $brand-yellow;
						}
					}
	
					.a-disabled {
						&:hover {
							color: #fff;
						}
					}
				}
	
				a {
					text-decoration: none;
					color: #fff;
					font-size: 1.6rem;
	
					&:hover {
						color: $brand-yellow;
					}
				}
			}
		}
	}
}




/* NAV BAR */
/* /////////////////////// */
/* /////////////////////// */
/* /////////////////////// */
.navbar {
	position: absolute;
	top: 0;
	width: 100%;
	padding: 1.5rem 3rem 1.5rem 1.5rem;
	z-index: 3;

	@media only screen and (max-width: 991px) {
		
	}
	
	@media only screen and (max-width: 321px) {
		padding: 1rem 1rem 1rem 1rem;
	}

	.navbar-toggler {
		position: absolute;
		top: 1rem;
		right: 1rem;
	}

	.show {
		left: 0% !important;
	}

	.navbar-collapse {
		@media only screen and (max-width: 991px) {
			background-color: $brand-grey;
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			padding: 7.5rem 0 0 2rem;
			left: 100%;
			opacity: 1;
			display: block;
			@include transition(all .5s ease);
		}

		@media only screen and (max-width: 321px) {
			
		}
	}

	.navbar-brand {
		background-image: url("../img/logo@2x.png");
		background-position: 0 0;
		background-size: cover;
		width: 180px;
		height: 70px;

		@media only screen and (max-width: 991px) {
			position: relative;
			z-index:1;
		}

		@media only screen and (max-width: 321px) {
			width: 134px;
			height: 53px;
		}
	}

	.navbar-toggler {
		border: none;
		background: none;
		
		.navbar-toggler-icon {
			background-image: url("../img/burger.svg");
		}
	}

	.nav-item {
		color: #fff;
	}

	.navbar-collapse {
		.form-inline {
			display: none;
		}

		.navbar-nav {
			@media only screen and (max-width: 321px) {
			
			}

			@media only screen and (max-width: 415px) {
				padding: 0 0 0 0.5rem;
			}

			.nav-item {
				@media only screen and (max-width: 415px) {
					padding: 2px;
				}

				.nav-link {
					color: #fff;

					&:hover {
						color: $brand-yellow;
					}

					&.active {
						color: $brand-yellow;
					}
				}
			}

			.nav-item-spacer {
				width: 15vw;
			}
		}
	}
}

.bg-light {
	background: none !important;
}
